// Breakpoints aligned with consts/ui.const.js (MOBILE_BREAKPOINT, SMALL_MOBILE_BREAKPOINT)
$breakpoint-mobile: 768px;
$breakpoint-mobile-narrow: 560px;

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin mobile-narrow {
  @media (max-width: $breakpoint-mobile-narrow) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-mobile + 1) {
    @content;
  }
}
