@use './variables.scss' as *;
@use './setup.scss' as *;
@use './typography.scss' as *;

// Swiper carousel styles
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

// Hide floating-vue tooltips on mobile (desktop only)
@media (max-width: 768px) {
  .v-popper__popper {
    display: none !important;
  }
}